@font-face {
  font-family: "PoliphiliDisplay";
  src: url("./fonts/PoliphiliDisplay.otf") format("opentype"),
    url("./fonts/PoliphiliDisplay.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PoliphiliDisplay";
  src: url("./fonts/PoliphiliDisplay-Bold.otf") format("opentype"),
    url("./fonts/PoliphiliDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PoliphiliDisplay";
  src: url("./fonts/PoliphiliDisplay-Italic.otf") format("opentype"),
    url("./fonts/PoliphiliDisplay-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poliphilus";
  src: url("./fonts/PoliphilusStd.otf") format("opentype"),
    url("./fonts/PoliphilusStd.ttf") format("truetype"),
    url("./fonts/PoliphilusStd.woff") format("woff"),
    url("./fonts/PoliphilusStd.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansMyanmar";
  src: url("./fonts/NotoSansMyanmar-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
$if(toc)$
  @font-face {
    font-family: "SegoeUI";
    src: url("./fonts/segoeui-stripped.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "DejaVuSans";
    src: url("./fonts/DejaVuSans-stripped.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
$endif$

:root {
  --bg-bg-color: #f9e6cd;
  --bg-color: antiquewhite;
  --tooltip-bg: #F8E8D4;
  --border-color: rgba(49, 21, 0, 0.2);
  --border-color-light: rgba(49, 21, 0, 0.1);
  --scribe-black: rgba(49, 21, 0, 1);
  --scribe-red: rgb(176, 0, 0, 1);
  --scribe-red-visited: rgb(198, 71, 65); /* manually calculated 70% scribe-red 30% bg-color - doing this since :visited can't change opacity */
  --scribe-red-active: rgb(124, 0, 0);
  --glyph-blue: #113a6b;

  --highlight-bg: var(--scribe-red);
  --gpt-highlight-bg: var(--glyph-blue);
  --highlight-color: lightgoldenrodyellow;

  --body-font: "PoliphiliDisplay", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  --heading-font: "Cormorant Garamond", serif;
  --glyph-font: "NotoSansMyanmar", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

html {
  background: var(--bg-bg-color);
  font-size: 20px;
  position: relative;
}
  @media only screen and (max-width: 767px) {
    html {
      font-size: 18px;
    }
  }

html, body {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  box-sizing: border-box;
  max-width: 900px;
  min-height: 100vh;
  width: calc(100% - 32px);
  padding: 32px 64px 64px;
  margin: auto;
  background: var(--bg-color);
  color: var(--scribe-black);
}
  body.historical {
    font-feature-settings: "dlig" 1, "salt" 1, "hist" 1;
  }
  @media only screen and (max-width: 767px) {
    body {
      padding: 16px 16px 48px 16px;
      width: calc(100% - 16px);
    }
  }

::selection {
  background-color: var(--highlight-bg);
  color: var(--highlight-color);
}

h1, h2 {
  font-weight: normal;
}
h1.title {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}
  @media only screen and (max-width: 767px) {
    h1.title {
      font-size: 2.4rem;
    }
  }
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

p {
  line-height: 1.4;
}

header {
  text-align: center;
  margin: 4.8rem 0 3.6rem;
}
  @media only screen and (max-width: 767px) {
    header {
      margin-top: 3.6rem;
    }
  }
.subtitle {
  font-weight: normal;
  margin-top: -0.45rem;
  margin-bottom: 1.2rem;
  font-variant: all-small-caps;
  font-weight: 700;
  letter-spacing: 0.25px;
}
  .b-glossary .glyph,
  .subtitle .glyph {
    color: var(--glyph-blue);
  }
  .subtitle .glyph {
    font-variant: normal;
    display: block;
    font-size: 110%;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 5px;
  }
  .subtitle .tooltip {
    display: none !important;
  }

.intro {
  margin-top: 2.4rem;
}

#untranslated {
  margin: 1.8rem 0 2.4rem;
}

a[href] {
  text-decoration: none;
  color: var(--scribe-red);
}
a[href]:visited {
  color: var(--scribe-red-visited);
}
a[href]:active, a[href]:hover, a[href]:focus {
  color: var(--scribe-red-active);
}

dfn {
  font-style: normal;
}
a.untranslated,
a.ref:not([href]) {
  cursor: pointer;
  opacity: 0.5;
}
a.untranslated:hover,
a.ref:not([href]):hover {
  opacity: 0.75;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 999;
  background: var(--tooltip-bg);
  color: var(--scribe-black);
  border: 1px solid var(--border-color);
  font-family: var(--body-font);
  font-size: smaller;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  text-align: left;
  padding: 16px 16px 12px;
  width: 350px;
  white-space: normal;
  display: none;
}
  .tooltip.ready {
    display: block;
  }
  .tooltip.show {
    opacity: 1;
    visibility: visible;
  }
  .tooltip.short {
    width: auto;
  }
  .img-wrap {
    position: relative;
  }
  .img-wrap .tooltip {
    text-align: center;
    padding: 16px 32px 10px;
    width: auto;
    max-width: 75%;
  }

.karedian,
.glyph {
  font-family: var(--glyph-font);
}

p .em-dash {
  font-weight: bold;
}

hr {
  outline: none;
  border: none;
  text-align: center;
}
hr:before {
  content: "ၹ\0000a0\0000a0\0000a0ဓ\0000a0\0000a0\0000a0ၻ";
  color: var(--scribe-red);
  font-size: 1rem;
  font-family: var(--glyph-font);
}

.img-wrap {
  text-align: center;
  opacity: 0.9;
  transition: opacity 0.5s ease-out;
}
.img-wrap:hover {
  opacity: 1;
}
img {
  max-width: 100%;
  max-height: 80vh;
}

.intro p:first-child:first-letter,
header + p:first-letter,
header + blockquote + p:first-letter,
header + blockquote + blockquote + p:first-letter,
.follow-with-dropcap + p:first-letter,
h1 + p:first-letter {
  float: left;
  font-style: italic;
  font-feature-settings: "swsh" 1;
  font-size: 500%;
  margin: 8px 0 -17px 0;
  padding: 0 .125em 0 0;
  height: .7em;
  line-height: .85em;
}

strong {
  font-weight: 700;
  letter-spacing: -0.66px;
}

blockquote,
em,
.editor-note {
  font-feature-settings: "dlig" 1;
  font-style: italic;
}
  .historical blockquote,
  .historical em,
  .historical .editor-note {
    font-feature-settings: "dlig" 1, "salt" 1, "hist" 1;
    font-style: italic;
  }

blockquote {
  font-feature-settings: "dlig" 1, "swsh" 1;
  /*TODO maybe actually: */
  /*font-feature-settings: "dlig" 1, "swsh" 1, "salt" 1;*/
  font-size: 1.15rem;
  margin: -2.4rem 10px 1.8rem;
  padding: .185rem 1.8rem;
}
  .historical blockquote {
    font-feature-settings: "dlig" 1, "swsh" 1, "salt" 1, "hist" 1;
  }
  blockquote p {
    line-height: 1.25;
  }
  /*.img-wrap img:before,*/
  blockquote:only-child:before,
  blockquote:first-child:before {
    content: '';
    display: block;
    border-bottom: 1.5px solid var(--border-color-light);
    margin: 0 auto 35px;
    width: calc(100% + 3.6rem);
    margin-left: -1.8rem;
  }
  /*.img-wrap img:after,*/
  blockquote:only-child:after,
  blockquote:last-child:after {
    content: '';
    display: block;
    border-top: 1.5px solid var(--border-color-light);
    margin: 35px auto 0;
    width: calc(100% + 3.6rem);
    margin-left: -1.8rem;
  }
  /*.img-wrap img,*/
  blockquote:only-child,
  blockquote:first-child {
    border-top: 3px solid var(--border-color-light);
  }
  /*.img-wrap,*/
  blockquote:only-child,
  blockquote:last-child {
    border-bottom: 3px solid var(--border-color-light);
  }

  @media only screen and (max-width: 767px) {
    blockquote {
      padding-left: 0;
      padding-right: 0;
    }
    blockquote:before,
    blockquote:after {
      width: 100% !important;
      margin-left: 0 !important;
    }
  }

  blockquote .attribution {
    display: block;
    font-size: smaller;
    font-style: normal;
    font-feature-settings: normal;
    margin-top: -.6rem;
  }

.shortcuts {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  font-variant: small-caps;
  text-transform: lowercase;
}
  .shortcuts.top{
    margin-bottom: 2.4rem;
  }
  .shortcuts.bottom {
    margin-top: 4.8rem;
  }
    @media only screen and (max-width: 767px) {
      .shortcuts.bottom {
        margin-bottom: 1.2rem;
      }
    }
  .shortcuts a {
    width: 40%;
  }
  .shortcuts a:nth-child(2) {
    text-align: center;
  }
  .shortcuts a:last-child {
    text-align: right;
  }
  .shortcuts .contents {
    font-weight: 700;
    font-family: var(--heading-font);
    font-size: 110%;
    margin-top: -3.5px;
    width: auto;
    min-width: 100px;
  }

#TOC .no-toc-children + ul {
  display: none;
}
#TOC ul {
  list-style-type: none;
  counter-reset: toc;
}
  #TOC ul:first-child {
    padding-left: 1.8rem;
  }
    #TOC ul > li {
      counter-increment: toc;
      line-height: 1.8rem;
    }
      #TOC ul > li:before {
        content: counter(toc, kannada) " ";
        margin-right: 0.24rem;
        font-family: "SegoeUI";
        line-height: 1;
        font-size: 24px;
      }
        #TOC ul ul > li:before {
          content: counter(toc, lao) " ";
          font-family: "DejaVuSans";
        }
          #TOC ul ul ul > li:before {
            content: counter(toc, tibetan) " ";
            font-family: "SegoeUI";
          }
            #TOC ul ul ul ul > li:before {
                content: counter(inscrutable, myanmar) " ";
                font-family: var(--glyph-font);
            }

.footnote-ref sup {
  vertical-align: unset;
  position: relative;
  top: -0.36rem;
}
  /*TODO(check these styles when sizes finalized)*/
  h2 .footnote-ref sup,
  h3 .footnote-ref sup {
    top: -0.72rem;
    left: 0.12rem;
    font-size: 70%;
  }
  h3 .footnote-ref sup {
    top: -0.6rem;
  }

.footnotes {
  margin-top: 2.4rem;
}
  .footnote-back {
    position: absolute;
    margin-left: .4rem;
    margin-top: -1px;
    font-size: 0;
  }
  .footnote-back:after {
    font-family: var(--glyph-font);
    /*content: 'ရ';*/
    content: 'န';
    position: absolute;
    left: 8px;
    top: -8px;
    font-size: 1.08rem;
    transform: rotate(90deg);
    height: 2.28rem;
  }

.corner {
  position: absolute;
  opacity: 0.5;
  bottom: 4px;
  right: 8px;
}
  .corner a {
    width: 100%;
  }

[data-facet] {
  display: inline-block;
}
[data-facet]:before, [data-facet]:after, [data-facets]:after {
  font-family: var(--glyph-font);
  font-weight: normal;
  line-height: 1.2rem;
}
[data-facet]:after {
  content: attr(data-facet);
  margin-left: 4px;
}
[data-facets]:after {
  content: attr(data-facets);
  margin-left: 5px;
}
/*
.glyph-group [data-facet] + [data-facet] {
  margin-left: 0.3rem;
}
*/

.choose-one-child {
  display: none;
}
  .choose-one-child.chosen {
    display: revert;
  }

gpt {
  display: inline;
  opacity: 0.8;
}
gpt::selection {
  background-color: var(--gpt-highlight-bg);
  color: var(--highlight-color);
}

.copy-table table {
  margin: auto;
}
  .copy-table .tooltip {
    display: none !important;
  }
  .copy-table td {
    padding: 0.3rem 1.2rem;
  }
  .lamina-table td {
    padding: 0.18rem 0.6rem;
  }
  .lamina-table tr:first-child td {
    padding-bottom: 0.3rem;
  }
  @media only screen and (max-width: 767px) {
    .copy-table table {
      font-size: 90%;
    }
    .facet-table {
      font-size: 100%;
    }
    .facet-table td {
      padding: 0.3rem 0.06rem;
      min-width: 75px;
    }
    .facet-table tr:first-child td {
      padding-bottom: 0.6rem;
    }
    .lamina-table td {
      padding: 0 0.3rem;
    }
    .copy-table [data-facet]:before {
      display: block;
      margin: 4px 0;
    }
  }
